# Django
CURRENT_ENVIRONMENT=local_docker
DJANGO_SECRET_KEY=
SHOW_TOPICS_MANAGEMENT_API=

# AWS
AWS_LOAD_BALANCER_URL=
AWS_OPENSEARCH_HOST=
CLOUDWATCH_LOG_GROUP=
CLOUDWATCH_STREAM_NAME=

# Database
DB_HOST=posts_db
DB_PORT=5432
DB_NAME=if_database
DB_USERNAME=if_postgres_user
DB_PASSWORD=

# Auth0
AUTH0_DOMAIN=
AUTH0_ISSUER=
AUTH0_API_AUDIENCE=

# Opensearch
MAX_SEARCHING_SIZE=
MAX_TERMS_AGGREGATION_SIZE=20000
MAX_TERMS_AGGREGATION_CLUSTERS=100
